extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/login') login here
  br
  a(href='/register') register here

  p Login to retrieve usertoken.  
  p Send usertoken as `Authorization : Bearer token` with all authed requests