extends layout

block content
  div#login.container
    div: form(method='post', class='form-vertical')
      fieldset
        legend: strong.text-info Login page

        form(method='POST' action='/login')
        div.form-group
          label(for=username) Email:
          input.form-control(name='email', autofocus)

        div.form-group
          label(for=password) Password:
          input.form-control(name='password', type='password')

        div.form-actions
          input.btn.btn-primary(type='submit', value='Login')

        a(href='/register') register
